/*
Responsive framework
author: Developed by Stas Melnikov. http://stas-melnikov.ru
*/ 

/*********************************************mixins*********************************/

.m_translate(@x, @y) {

	-webkit-transform: translateZ(0px) translate(@x, @y);
	-ms-transform: translateZ(0px) translate(@x, @y); 
	transform: translateZ(0px) translate(@x, @y);
}

.m_rotate(@value){
	
	-webkit-transform: rotate(@value);
	-ms-transform: rotate(@value);
	transform: rotate(@value);
}

.m_cogwheel(@x, @y, @value){
	-webkit-transform: translateZ(0px) translate(@x, @y) rotate(@value);
	-ms-transform: translateZ(0px) translate(@x, @y) rotate(@value); 
	transform: translateZ(0px) translate(@x, @y) rotate(@value);
}

/*********************************************all*********************************/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/fonts_preloaders/icomoon.eot?dbml13');
	src:url('../fonts/fonts_preloaders/icomoon.eot?#iefixdbml13') format('embedded-opentype'),
		url('../fonts/fonts_preloaders/icomoon.woff?dbml13') format('woff'),
		url('../fonts/fonts_preloaders/icomoon.ttf?dbml13') format('truetype'),
		url('../fonts/fonts_preloaders/icomoon.svg?dbml13#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.demo{
	margin: 50px auto 0;
	position: relative;
	text-align: center;
	
	width: 300px;
}

.demo_item{
	position: relative;
	height: 60px;
}

.wrapper_preloader{
	position: relative;
}

.indicator{
	width: 280px;
	
	border-radius: 15px;
	border: 3px solid #fff;
	overflow: hidden;
	
	position: relative;
	z-index: 2;
}

.indicator:after{
	background-color: #3c3760;
	border-radius: 15px;
	
	display: block;
	content: " ";
}

#indicator:after{
	width: 100%;
	height: 20px;
	
	.m_translate(-100%, 0);
	
	animation: indicator_load 5s linear infinite;
	-webkit-animation: indicator_load 5s linear infinite;
}

#vartical_indicator{
	height: 100px;
	width: 20px;
	
	position: relative;
	margin: 50px auto 0; 
	z-index: 2;
}

#vartical_indicator:after{
	width: 20px;
	height: 100%;
	
	.m_translate(0%, 100%);
	
	animation: indicator_load 2s linear infinite;
	-webkit-animation: indicator_load 2s linear infinite;
}

@keyframes indicator_load {
	100% { 
         .m_translate(0, 0);
    }
}

@-webkit-keyframes indicator_load {
	100% { 
         .m_translate(0, 0);
    }
}

/*******************flexible**********************/

.wrapper_flexible{
	height: 60px;
	padding-top: 50px;
}

.flexible, .flexible:before, .flexible:after {
	background: #FFF;

	-webkit-animation: flexible 2s infinite ease-in-out;
	animation: flexible 2s infinite ease-in-out;

	width: 1em;
	height: 4em;
}

.flexible:before, .flexible:after {
	position: absolute;
	top: 0;
	content: '';
}

.flexible:before {
	left: -1.5em;
}

.flexible {
	margin: 0 auto;
	position: relative;

	font-size: 11px;

	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.flexible:after {
	left: 1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

@-webkit-keyframes flexible {
	0%{
		-webkit-box-shadow: 0 0 #FFF;
		box-shadow: 0 0 #FFF;
		background-color: #fff;
		height: 4em;
	}

	40% {
		-webkit-box-shadow: 0 -2em #76d884;
		box-shadow: 0 -2em #76d884;
		background-color: #76d884;
		height: 5em;
	}

	80% {
		-webkit-box-shadow: 0 0 #82b146;
		box-shadow: 0 0 #82b146;
		background-color: #82b146;
		height: 4em;
	}

	100% {
		-webkit-box-shadow: 0 0 #FFF;
		box-shadow: 0 0 #FFF;
		background-color: #fff;
		height: 4em;
	}
}

@keyframes flexible {
	0%{
		box-shadow: 0 0 #FFF;
		background-color: #fff;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em #76d884;
		background-color: #76d884;
		height: 5em;
	}

	80% {
		box-shadow: 0 0 #82b146;
		background-color: #82b146;
		height: 4em;
	}

	100% {
		box-shadow: 0 0 #FFF;
		background-color: #fff;
		height: 4em;
	}
}

/****************circle****************/

.circle:before, .circle:after, .circle {
	border-radius: 50%;

	width: 2.5em;
	height: 2.5em;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	
	-webkit-animation: circle 1.8s infinite ease-in-out;
	animation: circle 1.8s infinite ease-in-out;
}

.circle {
	margin: 0 auto;
	position: relative;

	font-size: 10px;

	-webkit-animation-delay: 0.16s;
	animation-delay: 0.16s;
}

.circle:before {
	left: -3.5em;
}

.circle:after {
	left: 3.5em;
	-webkit-animation-delay: 0.32s;
	animation-delay: 0.32s;
}

.circle:before, .circle:after {
	content: '';
	position: absolute;
	top: 0;
}

@-webkit-keyframes circle {
  0% {
	-webkit-box-shadow: 0 2.5em 0 -1.3em #76d884;
	box-shadow: 0 2.5em 0 -1.3em #76d884;
  }
  
  40% {
	-webkit-box-shadow: 0 2.5em 0 0 #FFF; 
	box-shadow: 0 2.5em 0 0 #FFF;
  }
  
  80%{
	-webkit-box-shadow: 0 2.5em 0 -1.3em #dae114;
	box-shadow: 0 2.5em 0 -1.3em #dae114;
  }

  100% {
	-webkit-box-shadow: 0 2.5em 0 -1.3em #dae114; 
	box-shadow: 0 2.5em 0 -1.3em #76d884;
  }
}

@keyframes circle {
  0% {
    box-shadow: 0 2.5em 0 -1.3em #76d884;
  }
  
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
  
  80%{
    box-shadow: 0 2.5em 0 -1.3em #dae114;
  }

  100% {
    box-shadow: 0 2.5em 0 -1.3em #76d884;
  }
}

/*****************cogwheel************************/

.icon-cog:before {
	content: "\e600";

	display: block;
	font-size: 50px;
	
    position: absolute;
	left: 0;
	
	animation: cogwheel 1s infinite alternate;
	-webkit-animation: cogwheel 1s infinite alternate;
}

@keyframes cogwheel {
	100%{
		.m_cogwheel(400%, 0, 360deg)
	}
}

@-webkit-keyframes cogwheel {
	100%{
		.m_cogwheel(400%, 0, 360deg)
	}
}


/*********************square*******************/

.square{
	padding-top: 50px;
}

.square_item{
    height: 200px;
    width: 200px;
	
	background-color: #000;
	
	margin: 0 auto;
	
	animation: square 2s ease-in-out alternate infinite;
	-webkit-animation:  square 2s ease-in-out alternate infinite;
}

.label{
	font-size: 16px;
	color: #fff;
	
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 2;
	margin-left: -30px;
	
	animation: zoom_text 2s ease-in-out alternate infinite;
	-webkit-animation:  zoom_text 2s ease-in-out alternate infinite;
}

@keyframes square {
	100%{
        .m_rotate(360deg);
		border-radius: 50%;
		background-color: #fff;
	}
}

@-webkit-keyframes square {
	100%{
       .m_rotate(360deg);
		border-radius: 50%;
		background-color: #fff;
	}
}

@keyframes zoom_text {
	50%{
		opacity: 0.2;
	}
	
	100%{
	
		opacity: 1;
		color: #000;
	}
}

@-webkit-keyframes zoom_text {

	50%{
		opacity: 0.2;
	}
	
	100%{
		opacity: 1;
		color: #000;
	}
}

/**************************heart*****************/

.heart_wrapper{
	width: 100px;
}

.icon-heart{
	overflow: hidden;
	height: 80px;
}

.icon-heart:before {
	content: "\e606";
	font-size: 80px;
	
   position: relative;
    z-index: 2;
}

.icon-heart:after {
	content: "";
	
	width: 57px;
	height: 0;
	
	background-color: red;
	
	position: absolute;
	bottom: 21px;
	left: 21%;
	
	animation: heart 2s linear infinite;
	-webkit-animation: heart 2s linear infinite;
}

.heart{
	background-color: #becfd4;
	
	position: absolute;
    z-index: 1;
	
	width: 14px;
	height: 23px;
}

.left_heart{
	left: 16px;
	top: 37px;
	border-radius: 0 7px 0 0;
}

.left_heart2{
	left: 26px;
	top: 46px;
	border-radius: 0 10px 0 0;
}

.right_heart{
	right: 18px;
	top: 39px;
	border-radius: 5px 0 0 0;
}

.right_heart2{
	right: 27px;
	top: 48px;
	border-radius: 5px 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	.heart{
		width: 13px;
	}
	
	.right_heart {
		right: 19px;
		border-radius: 10px 0 0 0;
	}
	
	.right_heart2{
		right: 28px;
		top: 49px;
	}
	
	.left_heart2{
		left: 28px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.left_heart{
		left: 17px;
	}

	.left_heart2{
		border-radius: 0 13px 0 0;
	}

	.right_heart{
		right: 16px;
	}

	.right_heart2{
		border-radius: 9px 0 0 0;
	}
}

@keyframes heart {
	100% { 
         height: 40px;
    }
}

@-webkit-keyframes heart {
    0% { 
        height: 0;
    }
	
	100% { 
         height: 40px;
    }
}

/*****************music********************/

.icon-music:before {
	content: "\e602";
	font-size: 15px;
	opacity: 0;
	
    position: absolute;
    right: 105px;
    top: 10px;
	
	animation: music 1s ease 1s infinite;
	-webkit-animation: music 1s ease 1s infinite;
}

.icon-music2:before {
	right: 85px;
}

.icon-bubble:before {
	content: "\e603";
	font-size: 60px;
	
    position: absolute;
    right: 75px;
    top: -10px;
	
}

.icon-user:before {
	content: "\e604";
	font-size: 55px;
	
	position: relative;
    top: 30px;
}

@keyframes music {
	50% { 
		opacity: 1;
    }
	
	100% { 
        top: 5px;
		opacity: 0;
    }
}

@-webkit-keyframes music {
	50% { 
		opacity: 1;
    }
	
	100% { 
        top: 5px;
		opacity: 0;
    }
}


/**********************battery*****************/

.battery {
	position: relative;
	margin: 75px 115px;
	
	display: block;
	background: #ffffff;
	
	width: 10px;
	height: 28px;
}

.battery_item{
	background: #ffffff;
	
	width: 10px;
	height: 28px;
	
	position: absolute;
}

.battery2{
	animation: battery2 3s linear infinite;
	-webkit-animation: battery2 3s linear infinite;
	
    left: 15px;
}

.battery3{
	animation: battery3 3s linear infinite;
	-webkit-animation: battery3 3s linear infinite;
	
    left: 30px;
}

.battery4{
	animation: battery4 3s linear infinite;
	-webkit-animation: battery4 3s linear infinite;
	
    left: 45px;
}

.battery5{
	animation: battery5 3s linear infinite;
	-webkit-animation: battery5 3s linear infinite;
	
    left: 60px;
}


.battery:before {
	content: "";
	display: block;
	
	background: transparent;
	border: 6px solid #ffffff;
	border-radius: 2px;
	
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: -2px 0 5px 2px #222;
	
	width: 85px;
	height: 40px;
	
	position: absolute;
	margin: -12px;
	z-index:2000;
}

.battery:after{
	content: "";
	display: block;
	
	background: #ffffff;
	border: 6px solid #ffffff;
	border-radius: 2px;
	
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 2px 0 5px 2px #222;
	
	width: 6px;
	height: 16px;
	
	position: absolute;
	margin: 0px 80px;
	z-index:0;
}

@keyframes battery2 {
	0% { 
         opacity: 0;
    }
	
	52% { 
         opacity: 1;
    }
	
	50% { 
         opacity: 1;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@-webkit-keyframes battery2 {
	0% { 
         opacity: 0;
    }
	
	52% { 
         opacity: 1;
    }
	
	50% { 
         opacity: 1;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@keyframes battery3 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 1;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@-webkit-keyframes battery3 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 1;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@keyframes battery4 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 0;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@-webkit-keyframes battery4 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 0;
    }
	
	75% { 
         opacity: 1;
    }

	100% { 
         opacity: 1;
    }
}

@keyframes battery5 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 0;
    }
	
	75% { 
         opacity: 0;
    }

	100% { 
         opacity: 1;
    }
}

@-webkit-keyframes battery5 {
	0% { 
         opacity: 0;
    }
	
	25% { 
         opacity: 0;
    }
	
	50% { 
         opacity: 0;
    }
	
	75% { 
         opacity: 0;
    }

	100% { 
         opacity: 1;
    }
}

/**********************pendulum*****************/

.pendulum{
	position: relative;
	top: -80px;
	left: -35px; 
	
	display: inline-block;
}

.line2{
    background-color: #000;
	
    height: 8px;
    width: 55px;
	
    position: absolute;
    left: -15px;
    top: 90px;
    z-index: 4;
}

.line{
    height: 290px;
    width: 25px;
	
    position: absolute;
	top: -50px;
	
    overflow: hidden;
	
	animation: pendulum 2s linear infinite;
	-webkit-animation: pendulum 2s linear infinite;
	
	.m_rotate(-180deg);
}

.line:after{
    content: "";
    display: inline-block;
	
    height: 120px;
    width: 5px;
	
    background-color: #000;
	
	position: absolute;
    left: 10px;
    top: 30px;
}

.line:before{
    content: "";
    display: inline-block;
	
    height: 25px;
    width: 25px;
	
	border-radius: 50%;
	background-color: #000;
	
    position: absolute;
    top: 10px;
	left: 0;
}

.pendulum2{
	margin: 0 50px;
}

.pendulum2 .line{
	animation: pendulum2 2s linear infinite;
	-webkit-animation: pendulum2 2s linear infinite;
}

.pendulum2 .line:before, .pendulum2 .line:after{
	background-color: #fefefe;
}

.tile {
	top: 215px;
	.m_translate(65px,0);
	
	animation: tile 2s ease-in infinite;
	-webkit-animation: tile 2s ease-in infinite;
}

@keyframes pendulum {
	0%, 20%{
		.m_rotate(-180deg);
	}
	
	30%{
		.m_rotate(-160deg);
	}
	
	40%{
		.m_rotate(-155deg);
	}
	
	50%{
		.m_rotate(-205deg);
	}
	
	60%{
		.m_rotate(-160deg);
	}
	
	70%{
		.m_rotate(-200deg);
	}
	
	80%{
		.m_rotate(-170deg);
	}
	
	90%{
		.m_rotate(-190deg);
	}
	
	100%{
		.m_rotate(-180deg);
	}
}

@-webkit-keyframes pendulum {
	0%, 20%{
		.m_rotate(-180deg);
	}
	
	30%{
		.m_rotate(-160deg);
	}
	
	40%{
		.m_rotate(-155deg);
	}
	
	50%{
		.m_rotate(-205deg);
	}
	
	60%{
		.m_rotate(-160deg);
	}
	
	70%{
		.m_rotate(-200deg);
	}
	
	80%{
		.m_rotate(-170deg);
	}
	
	90%{
		.m_rotate(-190deg);
	}
	
	100%{
		.m_rotate(-180deg);
	}
}

@keyframes pendulum2 {
	25%{
		.m_rotate(-180deg);
	}
	
	30%{
		.m_rotate(-175deg);
	}
	
	40%{
		.m_rotate(-155deg);
	}
	
	50%{
		.m_rotate(-205deg);
	}
	
	60%{
		.m_rotate(-160deg);
	}
	
	70%{
		.m_rotate(-200deg);
	}
	
	80%{
		.m_rotate(-170deg);
	}
	
	90%{
		.m_rotate(-190deg);
	}
	
	100%{
		.m_rotate(-180deg);
	}
}

@-webkit-keyframes pendulum2 {
	25%{
		.m_rotate(-180deg);
	}
	
	30%{
		.m_rotate(-175deg);
	}
	
	40%{
		.m_rotate(-155deg);
	}
	
	50%{
		.m_rotate(-205deg);
	}
	
	60%{
		.m_rotate(-160deg);
	}
	
	70%{
		.m_rotate(-200deg);
	}
	
	80%{
		.m_rotate(-170deg);
	}
	
	90%{
		.m_rotate(-190deg);
	}
	
	100%{
		.m_rotate(-180deg);
	}
}

@keyframes tile {
	20%{
		opacity: 0.5;
		.m_translate(10px,0);
	}
	
	50%{
		.m_translate(70px,0);
		opacity: 0;
	}
	
	75%{
		.m_translate(65px,0);
		opacity: 0;
	}
}

@-webkit-keyframes tile {
	20%{
		opacity: 0.5;
		.m_translate(10px,0);
	}
	
	50%{
		.m_translate(70px,0);
		opacity: 0;
	}
	
	75%{
		.m_translate(65px,0);
		opacity: 0;
	}
}

